@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease 0.5s;
}
:root {
  --background-color: #121416;
  --primary-text-color: #eff3fb;
  --secondary-text-color: #0a0d11;
  --tertiary-text-color: #0a0d1168;
  --primary-font-family: "Montserrat";
  --secondary-font-family: "Cinzel", serif;
  --nav-size: 96px;
  --dm-linear-gradient-primary: linear-gradient(
    45deg,
    #ffe5a1,
    #bf841a,
    #ffcd74
  );
  --linear-gradient-transparen: linear-gradient(45deg, #f4cd68, #00000000);
  --radial-gradient-background: radial-gradient(
    #8fbffd70 0%,
    #26487a80 30%,
    #00000000 100%
  );
}
.light {
  --background-color: #f5f5f5;
  --primary-text-color: #171717;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #ffffff69;

  --dm-linear-gradient-primary: linear-gradient(
    45deg,
    #d99a01,
    #9f6605,
    #efb62b
  );
}
a,
input,
li,
ul,
button,
select,
option {
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  background: transparent;
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
}
body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background: var(--background-color);
  overflow-x: hidden;
}
header {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.background-container {
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
}

.bg {
  width: 100%;
  height: 100%;
  position: relative;

  z-index: -10;
}
.up {
  position: absolute;
  width: 976px;
  max-width: 100vw;
  height: 1067px;
  background: var(--radial-gradient-background);
  top: -500px;
  right: -500px;
  border-radius: 50%;
  filter: blur(50px);
  opacity: 0.65;
  pointer-events: none;
}

.side {
  position: absolute;
  width: 50vw;
  height: 50vh;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(143, 191, 253, 0.7) 0%,
    rgba(38, 72, 122, 0.8) 30%,
    rgba(0, 0, 0, 0) 100%
  );
  top: 30%;
  left: 0;
  border-radius: 50%;
  filter: blur(60px);
  opacity: 0.35;
}
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: var(--nav-size);
  align-items: center;
  /* margin: 0px 80px 0px; */
  backdrop-filter: blur(20px);
  border-bottom: 1px solid #bf841a;
  width: 100%;
  padding: 0px 80px;
}
nav .logo {
    width: fit-content;
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  cursor: pointer;
}
nav .logo .img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 2px;
  background: var(--linear-gradient-transparen);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(120deg);
}
nav .logo .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--background-color); /* dark background to match theme */
  padding: 7px;
  transform: rotate(-120deg);
}
nav .logo h1 {
  color: var(--primary-text-color);
  font-family: var(--secondary-font-family);
  font-size: 22px;
}
nav .items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav .items ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
nav .items ul li a {
  text-wrap: nowrap;
  font-size: 16px;
}
nav .items ul li a {
  position: relative;
  display: inline-block; /* Ensure it's not collapsing */
  padding: 10px 20px; /* Ensure some height/space */
  max-width: 100%;
}

nav .items ul li a:hover::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--dm-linear-gradient-primary);
  bottom: 0;
  left: 0;
  border-radius: 100%;
  justify-items: center;
}
nav .items ul li button svg {
  fill: var(--primary-text-color);
}
nav .items ul li button svg:hover {
  fill: url(#goldGradient);
  /* stroke: url(#goldGradient); */
}

.toggle {
  display: none;
}

/* nav-menu icon css starts here */

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: var(--primary-text-color);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* nav-menu icon css ends here */

header .hero {
  margin-top: 100px;
  flex: 1;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0px 80px;
}
header .hero .left {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}
header .hero .left h1 {
  width: 100%;
  font-size: 3.5rem;
  font-family: var(--secondary-font-family);
  background: var(--dm-linear-gradient-primary);
  background-size: 100%;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--primary-text-color);
}
header .hero .left h1 span {
  letter-spacing: 20px;
  font-size: 4.5rem;
}
header .hero .left p {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  font-size: 1.2rem;
  line-height: 30px;
}
header .hero .left .buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-left: 20px;
}
header .hero .left .buttons select,
header .hero .left .buttons button {
  color: var(--secondary-text-color);
  height: 44px;
  background: var(--dm-linear-gradient-primary);
  width: 120px;
  border-radius: 5px;
  font-family: var(--primary-font-family);
  font-size: 1rem;
  font-weight: 500;
}
header .hero .left .buttons select {
  padding: 0px 10px;
  border: 1px solid #bf841a;
  background: var(--dm-linear-gradient-primary);
  background-size: 100%;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--primary-text-color);
  border-radius: 1px;
}
header .hero .right {
  width: 60%;
  justify-content: center;
  align-items: center;
  display: flex;
}
header .hero .right .image-container {
  width: 80%;
  background: url(/images/bakgrounds/Vector\ \(2\).svg);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* max-height: 50vh; */
}
header .hero .right .image-container img {
  max-width: 100%;
  border-bottom: 1px solid #bf841a;
  max-height: 600px;
}

@media (max-width: 968px) {
  nav {
    padding: 0px 40px;
  }
  nav .items ul {
    gap: 10px;
  }
  nav .items ul li a,
  nav .items ul li button {
    padding: 10px 5px;
  }
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav {
    padding: 0px;
    margin: 0px;
    /* height: 50vh; */
    align-items: flex-start;
    height: auto;
  }
  nav.open {
    height: 50vh;
    background: var(--tertiary-text-color);
  }
  nav .logo {
    padding: 20px 10px 10px;
    gap: 7px;
  }
  nav .logo .img {
    height: 50px;
    width: 50px;
  }
  nav .logo h1 {
    font-size: 20px;
  }
  nav .items ul {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  nav .items {
    flex-direction: column;
    /* flex: 1; */
    position: relative;
    width: 100%;
    z-index: 2;
  }
  nav .items ul.open {
    /* backdrop-filter: blur(40px); */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    animation: anim1 1s forwards;
    max-height: 500px; /* Enough for all menu items */
    opacity: 1;
    transform: translateY(0);
    background: transparent;
  }
  @keyframes anim1 {
    from {
      transform: translateY(-30px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  nav .items .toggle {
    display: inline-flex;
    align-items: flex-end;
    position: absolute;
    top: 25px;
    right: 0px;
    /* padding: 20px; */
    padding-right: 0px;
  }
  header .hero {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20px;
    padding: 0px 20px;
    margin-top: 80px;
  }
  header .hero .left,
  header .hero .right {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0px;
  }
  header .hero .left {
    gap: 15px;
  }
  header .hero .left h1 {
    font-size: 2rem;
    text-align: center;
  }
  header .hero .left h1 span {
    font-size: 2.5rem;
    letter-spacing: 12px;
    text-align: center;
  }
  header .hero .left p {
    font-size: 1rem;
  }
  header .hero .left .buttons {
    margin: 0;
  }
  header .hero .left .buttons select,
  header .hero .left .buttons button {
    height: 38px;
    font-size: 1rem;
  }
  header .hero .right .image-container img {
  
  max-height: 400px;
}
}
